.site-wrapper {
  background-color: #fff;
}

.header-wrapper .navbar-fixed-top {
  position: static;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.header-top-wrapper {
  background-color: #f9f9f9;
  border-bottom: 1px solid #f7f7f7;
  font-size: 13px;
  line-height: 40px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.pull-right {
  float: right !important;
}

/* .contact-info ul {
    float: right;
    margin: 0;
}

.contact-info ul li {
    display: inline-block;
    line-height: 18px;
    padding-right: 20px;
} */

.right-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.contact-info {
  margin-right: 50px;
}

.contact-icon {
  font-size: small;
  height: 12px;
}

.mgn-rght-7 {
  margin-right: 7px;
}

.disply-flex {
  display: flex;
}

.main-menu-wrapper {
  margin-top: 27px;
}

.navbar-brand {
  color: darkcyan;
  font-size: 60px;
  max-width: 167px;
  width: 167px;
  display: contents;
}
.main-menu {
  margin-top: 20px !important;
}

.main-menu {
  position: relative;
}

.menu-ul {
  display: flex;
  list-style: none;
}
.menu-li {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-header {
  justify-content: space-around;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  /* display: none; */
}

.img {
  vertical-align: middle;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.disply-flex-jst-cnt-sp-arnd {
  display: flex;
  justify-content: space-around;
}

.about-header {
  font-size: 60px;
  color: cadetblue;
}

.about-desc {
  text-align: left;
  width: 50%;
  color: #606060;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.about-photo {
  width: 40%;
}

.pdng-btm-20 {
  padding-bottom: 20px;
}

.cursor-pointer {
  cursor: pointer;
}
.disply-flex-jst-cnt-sp-evnly {
  display: flex;
  justify-content: space-evenly;
}

.socila-cause-container {
  width: 100%;
}
.cards {
  width: 400px;
  height: 200px;
  background: whitesmoke;
}
.width-40 {
  width: 40%;
}
.width-60 {
  width: 60%;
}
.card-header {
  position: relative;
  font-size: 20px;
  margin-bottom: 15px;
  color: #606060;
  margin-top: 30px;
}
.card-desc {
  text-align: start;
  color: #606060;
}
.timeline-paper {
  padding: "6px 16px";
}
.secondaryTail {
  background-color: brown;
}

.gallery-root {
  display: flex;
  justify-content: space-around;
  overflow: "hidden";
  flex-wrap: wrap;
  overflow: hidden;
}
.gridList {
  width: 1000px;
  height: 450px;
}
.icon {
  color: "rgba(255, 255, 255, 0.54)";
}
.img-tiles {
  cursor: pointer;
}

.map-height {
  height: 260px;
}
.footer {
  height: 100px;
  background: black;
  margin-top: 30px;
  padding: 0 20px;
}

.footer-txt {
  text-align: start;
  color: white;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-border {
  border-radius: 50%;
  width: 12%;
  border: cadetblue solid 2px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.adress-header {
  text-align: left;
  padding-left: 15px;
  color: #606060;
  font-size: 20px;
  font-weight: bold;
}
.adress-height {
  height: 80px;
}
.color-blue {
  color: #139df9;
}

.txt-dec-none {
  text-decoration: none;
  color: #606060;
}
.txt-dec-none:hover {
  color: #139df9;
}

.txt-selected {
  text-decoration: overline;
}

.call-us-button {
  border: 3px;
  background: #ef4836 !important;
  border-radius: 2px;
  color: #fff !important;
  display: flex;
  align-items: center;
  width: 79px;
  height: 25px;
}
.txt-decoration-none {
  text-decoration: none;
  color: white;
}
.height-633 {
  height: auto;
}

.gridList::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}
.gridList::-webkit-scrollbar-track {
  background: lightgray; /* color of the tracking area */
}

.gridList::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange; */ /* creates padding around scroll thumb */
}
.gridList::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.aboutMe-img {
  margin-top: 4.3%;
}

.scl-cause-flex-dir {
  flex-direction: none;
}
.disply-flex-map {
  display: flex;
}
.mobile-hamburger {
  display: none;
}
.mobile-menu {
  display: none;
}

.width-10 {
  width: 10%;
}
.width-80 {
  width: 80%;
}

@media only screen and (max-width: 500px) {
  .site-wrapper {
    background-color: #fff;
    width: 103%;
  }

  .header-wrapper .navbar-fixed-top {
    position: static;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .header-top-wrapper {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f7f7f7;
    font-size: 12px;
    line-height: 40px;
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .right-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  .contact-info {
    margin-right: 10px;
  }
  .legend {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.25;
    transition: opacity 0.35s ease-in-out;
  }

  .about-header {
    font-size: 25px;
    color: cadetblue;
  }

  .about-desc {
    text-align: left;
    width: 100%;
    color: #606060;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .about-photo {
    width: 100%;
  }

  .height-633 {
    height: 100%;
  }

  .aboutMe-img {
    margin-top: 9.3%;
  }
  .legend {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.25;
    transition: opacity 0.35s ease-in-out;
  }

  .scl-cause-flex-dir {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .cards {
    width: 100%;
    height: 200px;
    background: whitesmoke;
    margin-bottom: 15px;
    margin-top: 1px;
  }

  .width-40 {
    width: 35%;
  }
  .width-60 {
    width: 60%;
  }

  .socila-cause-container {
    width: 97%;
  }
  .gallery-root {
    display: flex;
    justify-content: space-around;
    overflow: "hidden";
    flex-wrap: wrap;
    overflow: hidden;
  }
  .gridList {
    width: 1000px;
    height: 450px;
  }
  .icon {
    color: "rgba(255, 255, 255, 0.54)";
  }

  .navbar-brand {
    color: darkcyan;
    font-size: 23px;
    max-width: 167px;
    width: 60%;
    display: contents;
  }
  .navbar-header {
    justify-content: space-around;
    align-items: baseline;
  }
  .main-menu-wrapper {
    margin-top: 0px;
    width: 30%;
  }

  .disply-flex-map {
    display: block;
  }
  .map-height {
    height: 260px;
    width: 100%;
  }

  .map-address {
    width: 100%;
    margin-top: 10px;
  }

  .icon-border {
    border-radius: 50%;
    width: 12%;
    border: cadetblue solid 2px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .footer-txt {
    text-align: start;
    color: white;
    font-size: 12px;
  }
  .img-overLay {
    width: 54%;
    height: 54%;
  }
  .mobile-hamburger {
    display: flex;
    background: black;
    color: antiquewhite;
    height: 40px;
    align-items: center;
  }
  .mobile-menu {
    background: black;
    color: antiquewhite;
    display: flex;
    justify-content: center;
  }
  .mbl-menu-txt {
    text-decoration: none;
    color: antiquewhite;
  }
  .navbar-desktop {
    display: none;
  }
  .menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    margin-top: 3px;
  }
  .flex-dir-rev {
    flex-direction: column-reverse;
  }
  .img-tiles {
    width: 33% !important;
    height: 150px !important;
    padding: 2px !important;
  }
}

/*ipad*/
@media only screen and (device-width: 768px) {
  .site-wrapper {
    background-color: #fff;
    width: 100%;
  }

  .header-wrapper .navbar-fixed-top {
    position: static;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .header-top-wrapper {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f7f7f7;
    font-size: 12px;
    line-height: 40px;
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 0px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .right-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .contact-info {
    margin-right: 50px;
  }
  .legend {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.25;
    transition: opacity 0.35s ease-in-out;
  }

  .about-header {
    font-size: 40px;
    color: cadetblue;
  }

  .about-desc {
    text-align: left;
    width: 50%;
    color: #606060;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
  }

  .about-photo {
    width: 40%;
  }

  .height-633 {
    height: 100%;
  }

  .aboutMe-img {
    margin-top: 4.3%;
  }
  .main-menu-wrapper {
    margin-top: 0px;
  }
  .navbar-brand {
    color: darkcyan;
    font-size: 23px;
    max-width: 167px;
    width: 167px;
    display: contents;
  }
  .navbar-header {
    justify-content: space-around;
    align-items: baseline;
  }
  .cards {
    width: 100%;
    height: 200px;
    background: whitesmoke;
    margin-bottom: 15px;
    margin-top: 1px;
  }
  .scl-cause-flex-dir {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .width-40 {
    width: 25%;
  }
  .adress-height {
    height: 90px;
  }
}
